// fonts

@font-face {
    font-family: "inter";
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-style: regular;
}


body {
    font-family: "inter", Arial, Helvetica, sans-serif;
}