// fonts

@font-face {
    font-family: "inter";
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-style: regular;
}


body {
    font-family: "inter", Arial, Helvetica, sans-serif;
}


.hero {
    background: url(/images/intro-bg.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.7);
}

.text-container {
    z-index: 10;
}

.icons {
    position: absolute;
    bottom: 20px;
}

.img-container {
    transition: all 0.5s ease-in-out;
}

.img-container:hover {
    transform: scale(1.05);
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .about-info {
        flex-direction: column !important;
        align-items: center !important;
    }

   .about-info p {
    width: 100% !important;
   }
}